AWS_ACCESS_KEY=XXXXXXXXXXXXXXXX
AWS_SECRET_KEY=XXXXXXXXXXXXXXXXXXXX
AWS_S3_ENDPOINT=https://9000-devilisdefe-deltalakeet-nlw3mv4smoe.ws-eu47.gitpod.io
AWS_BUCKET_NAME=new-wave-delta-lake
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=CarParts
POSTGRES_ENDPOINT=postgres:5432
HIVE_METASTORE_URI=thrift://hive-metastore:9083